*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
}

#titulo{
    position: relative;
    top: 0.5rem;
}

img{
    width: 3rem;
}

#home{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-top: -2rem;
    background-color: rgb(237, 242, 250);
}

#formulario{
    position: absolute;
    left: 30rem;
    top: 6rem;
    width: 25rem;
    height: 30rem;
    background-color: grey;
}

label{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-top: 4rem;
    font-size: 1.5rem;
}

input{
    position: absolute;
    left: 7rem;
}

button{
    position: relative;
    left: 7rem;
    top: 2rem;
    width: 10.7rem;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#usuario{
    width: 10.3rem;
}

p{
    position: absolute;
    top: 37rem;
    right: 34rem;
}